APP_NAME="Caja Rápida"
APP_ENV=local
APP_KEY=base64:R+CkecON+BDIkTSzUQwt7V2pGzf1rEbTJDWW1rgXD8c=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlsrv
DB_HOST=172.16.0.131
DB_PORT=1433
DB_DATABASE=DBINFOSAP_ALM
DB_USERNAME=infosap_user
DB_PASSWORD=
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=true

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525

VITE_APP_NAME="${APP_NAME}"